<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemakartaee= "https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0"> aLocation="https://jakarta.ee/xml/ns/j
<servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.professor.Registration.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>LoginRegisterpage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Registrationpage</display-name>
    <servlet-name>Registrationpage </servlet-name>
    <servlet-class>com.professor.Registration.Registrationpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationpage</servlet-name>
    <url-pattern>/Registrationpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutpage</display-name>
    <servlet-name>Logoutpage</servlet-name>
    <servlet-class>com.professor.Registration.Logoutpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutpage</servlet-name>
    <url-pattern>/Logoutpage</url-pattern>
  </servlet-mapping>
</web-app>